  body{
      background-image: url('images/b.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
  }

  html{
    scroll-behavior: smooth;
  }


.topnav {
    background: none;
    overflow: auto;
    height: 100%;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    padding: 2px 12px 5px 12px;
    text-decoration: none;
    font-size: 30px;
    margin: 0 8px 0 8px;
  }
  h1{
    color: #f2f2f2;
    font-size: 40px;
  }

  p{
    color: #f2f2f2;
    font-size: 25px;
  }

  .topnav p{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 30px;
    padding-left: 0%;
    margin: 0%;
    border: 0%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 25%;
  }


  
  /* Change the color of links on hover */
  .topnav a:hover , #about a:hover{
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ddd;
    color: black;
  }

  .topnav-right{
    width:40%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .topnav-center{
    width: 20%;
    float:left;
    text-align: center;
  }

  .topnav-left {
    width:40%;
    float:left;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    text-align: center;
  }

  .topnav img{
    width: 40%;
  }

  .topnav:after {
    content: "";
    display: table;
    clear: both;
  }

  .links{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #about{
    color: #f2f2f2;
    text-align: center;
    display: block;
    height: 100vh;
    
  }
  #about a {
    text-decoration: none;
    color: #f2f2f2;
    padding: 1%;
    border:2px solid #f2f2f2;
    border-radius: 10%;
  }

  section{
    width: 100%;
    float:left;
    height: 100vh;
    position: relative;
  }

  #about-info{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .row{
    width: 100%;
    height: 50%;
  }

  .column-pic{
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
  }
  .column{
    width: 70%;
    height: 100%;
    float: left;
    text-align: center;
  }

  .column-pic img{
   width: auto;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 5%;
  }

  .info-column{
    width: 45%;
    float: left;
  }

  #resume{
    border:2px solid #f2f2f2;
    border-radius: 10%;
  }

  #contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }